.card-column__container{
    box-shadow: 0 6px 5px -5px rgba(0,0,0,.2), 0 5px 5px 0 rgba(0,0,0,.14), 0 5px 7px 0 rgba(0,0,0,.12);
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 16px;
    padding-top: 0px;
    border-radius: 4px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    color: rgba(0,0,0,.87);
    cursor: pointer;
    text-align: center;
    width: 350px;
}

:host{
    margin: 10px 5px 0 5px;
}
 
.card-column__title{
    margin-top: 5px;
    padding-top: 8px;
    height: 30px;
    margin-bottom: 5px;
    background-color: lightgray;
    vertical-align: middle;
}
 
.app-card__content{
    display: block;
    margin-bottom: 16px;
    font-size: 14px;
}
 
.card-column__actions{
    display: flex;
    flex-direction: row;
    margin: 5px -8px 5px -8px;
    padding: 8px 0;
    justify-content: center;
}

button{
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
}